<html>
  <head>
    <title> new Project</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <h2 class="hedt1">Welcome In {{title}} Page</h2>

    <div class="header1">
      <a href="/">Home</a>
      <a href="/forecast">Weather</a>
    </div>

  </body>
</html>