<html>
  <head>
    <title> new Project</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <h2>{{>header}}</h2>

    <h3>Enter Country Name To Get The Weather</h3>
    <form id="form1">
      <input type="text" id="address" />
      <button>Search</button>
    </form>
    <h1>Location Is: </h1>
    <p id="location"></p>
    <h1>Latitude Is: </h1>
    <p id="lat"></p>
    <h1>Longitude Is: </h1>
    <p id="lon"></p>
    <h1>The Weather Is: </h1>
    <p id="forecast"></p>
    <p id="error"></p>

    <script src="js/script.js"></script>
  </body>
</html>